
*/*.pdb
**.suo
**.scc
**.vspscc
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.BLL/bin
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.BLL/obj
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.BLL.Interface/bin
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.BLL.Interface/obj
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.DAL/bin
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.DAL/obj
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.DAL.Interface/bin
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.DAL.Interface/obj
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.DTO/bin
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.DTO/obj
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.Entidades/bin
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.Entidades/obj
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.Log/bin
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.Log/obj
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.Mapper/bin
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.Mapper/obj
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.Presentador/bin
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.Presentador/obj
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.Servicio/bin
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.Servicio/obj
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.Servicio.Interfa/bin
/Fuentes/Gn.Sanidad.Hci.Mantusuarios.Servicio.Interfa/obj
/*/*/bin
/*/*/obj
/*.vssscc
